<a href="https://colab.research.google.com/github/aswathy7576/Clustering-PySpark-Bank-Marketing-Data/blob/main/Copy_of_Bank_Marketing_Analytics_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import os
drive.mount('/content/drive/')
#!ls

os.chdir("/content/drive/My Drive/7153")

#!ls

#https://drive.google.com/drive/folders/1Uy9FuGZ5i20ANW489QX5YknJCgUYFOrE?usp=sharing

Mounted at /content/drive/

In [ ]:
#!pip install wget

In [ ]:
#checking the existing installed java version
#!java -version

In [ ]:
#installing spark
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

In [ ]:
#decompressing the zipped file in current directory in gdrive
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

In [ ]:
#setting the environment variables for spark
import os
os.environ["SPARK_HOME"]="/content/spark-3.0.0/spark-3.0.0-bin-hadoop3.2"

In [ ]:
#installing findspark
!pip install -q findspark

In [ ]:
#installing the matching pyspark version
!pip install pyspark==3.0.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark==3.0.0
  Downloading pyspark-3.0.0.tar.gz (204.7 MB)
     |████████████████████████████████| 204.7 MB 22 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 23.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.0-py2.py3-none-any.whl size=205044182 sha256=ef3d5b6c211dd0c8053952a0a8de247b5690c17f4d52a9cb1766bd3c4bba22d4
  Stored in directory: /root/.cache/pip/wheels/4e/c5/36/aef1bb711963a619063119cc032176106827a129c0be20e301
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.0

In [ ]:
import py4j

In [ ]:
import pyspark

In [ ]:
#checking pyspark version
print(pyspark.__version__)

3.0.0

In [ ]:
ls

 bank-additional-full.csv                  master.csv
 bank.csv                                  spark-3.0.0-bin-hadoop3.2/
 bank-full.csv                             spark-3.0.0-bin-hadoop3.2.tgz
'Bank Marketing Analytics Pyspark.ipynb'   spark-3.0.0-bin-hadoop3.2.tgz.1
 bank_new.csv                              spark-3.0.0-bin-hadoop3.2.tgz.2

In [ ]:

import findspark
findspark.init("spark-3.0.0-bin-hadoop3.2")#SPARK_HOME

In [ ]:
spark = SparkSession.builder.master("local").appName("Search").config(conf=SparkConf()).getOrCreate()

In [ ]:
#creating a dataframe with columnames and value
df=spark.createDataFrame([{"language,usercount" :("java,2000")}])

/usr/local/lib/python3.7/dist-packages/pyspark/sql/session.py:378: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

In [ ]:
df.show(1)

+------------------+
|language,usercount|
+------------------+
|         java,2000|
+------------------+

**Bank Marketing EDA**

In [ ]:
spark = SparkSession.builder.appName('Bank Marketing Analytics').getOrCreate()

In [ ]:
#IMPORTING suicide rate  DATASET AS A SPARK DATA FRAME
df = spark.read.csv('bank_new.csv', header = True, inferSchema = True)

In [ ]:
df.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
row=df.count()
column=len(df.columns)

In [ ]:
print(f"dimension of dataframe is {(row,column)}")
print(f"number of rows are {row}")
print(f"number of columns are {column}")

dimension of dataframe is (11162, 17)
number of rows are 11162
number of columns are 17

In [ ]:
#SUMMARISING EACH COLUMN VALUES
df.summary()

DataFrame[summary: string, age: string, job: string, marital: string, education: string, default: string, balance: string, housing: string, loan: string, contact: string, day: string, month: string, duration: string, campaign: string, pdays: string, previous: string, poutcome: string, deposit: string]

In [ ]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [ ]:
df.describe()

DataFrame[summary: string, age: string, job: string, marital: string, education: string, default: string, balance: string, housing: string, loan: string, contact: string, day: string, month: string, duration: string, campaign: string, pdays: string, previous: string, poutcome: string, deposit: string]

In [ ]:
# Finding the duplicates if any .Here returns same no of records so  no duplicates in dataframe
#df.dropDuplicates().count()
df.distinct().count()

11162

In [ ]:
#finding the occurence of null values in all columns in dataframe
df_col=df.columns
from pyspark.sql.functions import col,isnan,when,count
null_col=df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_col]
   )
null_col.show()

#no null values occured

+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|  0|  0|      0|        0|      0|      0|      0|   0|      0|  0|    0|       0|       0|    0|       0|       0|      0|
+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+

In [ ]:
#REGISTERING DF2 AS SQL TABLE NAMED "BANK"
df.registerTempTable("bank")

#FILTERING UNKNOWN VALUES USING FROM ALL THE COLUMNS USING "AND" "OR" LOGIC USING SPARKSQL
sqlfilter=spark.sql("SELECT * FROM bank WHERE job!='unknown' AND education!='unknown' AND marital!='unknown' AND loan!='unknown' AND (poutcome =='failure' OR poutcome == 'success')")

In [ ]:
#STORING IN NEW VARIABLE TO AVOID 'NONETYPE ERROR'
df2=sqlfilter

In [ ]:
#DISPLAYING AND SUMMARIZING NEW DATA FRAME
df2.show()

+---+------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
|age|         job| marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
| 33|    services| married|secondary|     no|   3444|    yes|  no|telephone| 21|  oct|     144|       1|   91|       4| failure|    yes|
| 56|  technician| married|secondary|     no|    589|    yes|  no|  unknown| 23|  oct|     518|       1|  147|       2| success|    yes|
| 34|      admin.| married| tertiary|     no|    899|    yes|  no|  unknown| 12|  nov|     114|       1|  170|       3| failure|    yes|
| 53|     retired| married| tertiary|     no|   2269|     no|  no| cellular| 17|  nov|    1091|       2|  150|       1| success|    yes|
| 37|  technician| married|secondary|     no|   5115|    yes|  no| cellular| 17|  nov|    1210|       2|  171|       4| failure|    yes|
| 45|entrepreneur| married|secondary|     no|    781|     no| yes| cellular| 17|  nov|     652|       2|  126|       2| failure|    yes|
| 46|  unemployed|divorced|secondary|     no|   3354|    yes|  no| cellular| 19|  nov|     522|       1|  174|       1| success|    yes|
| 40|  management| married| tertiary|     no|   3352|    yes|  no| cellular| 19|  nov|     639|       2|   27|       1| success|    yes|
| 32|  technician| married| tertiary|     no|   4654|    yes| yes| cellular| 20|  nov|     276|       1|  128|       2| failure|    yes|
| 30| blue-collar| married|secondary|     no|    501|    yes| yes| cellular| 20|  nov|     994|       1|  177|       1| failure|    yes|
| 46|  technician| married| tertiary|     no|      0|     no|  no| cellular| 20|  nov|     531|       1|  167|       1| failure|    yes|
| 38|entrepreneur| married| tertiary|     no|   1110|    yes|  no| cellular| 20|  nov|     888|       2|  183|       2| failure|    yes|
| 32|    services| married|secondary|     no|    983|    yes|  no| cellular| 20|  nov|     500|       2|  133|       1| failure|    yes|
| 31|  unemployed| married|secondary|     no|    314|    yes|  no| cellular| 20|  nov|    1341|       3|  178|       7| failure|    yes|
| 50| blue-collar| married|  primary|     no|  12519|    yes|  no| cellular| 21|  nov|     615|       3|   34|       1| failure|    yes|
| 47|  technician| married|secondary|     no|      0|     no|  no| cellular| 21|  nov|     591|       1|   10|       1| failure|    yes|
| 59|  management| married| tertiary|     no|   7049|     no|  no| cellular| 21|  nov|     530|       1|  163|       2| failure|    yes|
| 31|  management| married|secondary|     no|   8629|    yes|  no| cellular| 21|  nov|     957|       1|  184|       2| failure|    yes|
| 53| blue-collar| married|secondary|     no|   1777|    yes|  no| cellular| 21|  nov|     796|       5|  154|       1| failure|    yes|
| 40|  technician|  single| tertiary|     no|   1646|    yes|  no| cellular|  2|  feb|     215|       1|  242|       2| failure|    yes|
+---+------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [ ]:
df2.describe()

DataFrame[summary: string, age: string, job: string, marital: string, education: string, default: string, balance: string, housing: string, loan: string, contact: string, day: string, month: string, duration: string, campaign: string, pdays: string, previous: string, poutcome: string, deposit: string]

In [ ]:
df2.summary().show()

+-------+------------------+----------+--------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+------------------+-----------------+------------------+--------+-------+
|summary|               age|       job| marital|education|default|           balance|housing|loan| contact|               day|month|          duration|          campaign|            pdays|          previous|poutcome|deposit|
+-------+------------------+----------+--------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+------------------+-----------------+------------------+--------+-------+
|  count|              2181|      2181|    2181|     2181|   2181|              2181|   2181|2181|    2181|              2181| 2181|              2181|              2181|             2181|              2181|    2181|   2181|
|   mean| 41.84364970197157|      null|    null|     null|   null| 1742.946813388354|   null|null|    null|14.204034846400734| null| 343.5295735900963|1.8211829436038514|202.8578633654287|3.0917010545621273|    null|   null|
| stddev|12.855329179952637|      null|    null|     null|   null|3397.7939950723485|   null|null|    null|  8.10108738010334| null|275.48193079367053|1.2274126864078023|121.3097255486155| 2.958246116660583|    null|   null|
|    min|                18|    admin.|divorced|  primary|     no|              -938|     no|  no|cellular|                 1|  apr|                 4|                 1|                1|                 1| failure|     no|
|    25%|                32|      null|    null|     null|   null|               224|   null|null|    null|                 8| null|               164|                 1|               97|                 1|    null|   null|
|    50%|                38|      null|    null|     null|   null|               719|   null|null|    null|                13| null|               263|                 1|              182|                 2|    null|   null|
|    75%|                50|      null|    null|     null|   null|              2044|   null|null|    null|                20| null|               432|                 2|              278|                 4|    null|   null|
|    max|                88|unemployed|  single| tertiary|    yes|             81204|    yes| yes| unknown|                31|  sep|              2184|                12|              854|                55| success|    yes|
+-------+------------------+----------+--------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+------------------+-----------------+------------------+--------+-------+

In [ ]:
df2.select('poutcome').distinct().collect()

[Row(poutcome='success'), Row(poutcome='failure')]

In [ ]:
df2.describe()

DataFrame[summary: string, age: string, job: string, marital: string, education: string, default: string, balance: string, housing: string, loan: string, contact: string, day: string, month: string, duration: string, campaign: string, pdays: string, previous: string, poutcome: string, deposit: string, job_indexed: string, marital_indexed: string, education_indexed: string, default_indexed: string, housing_indexed: string, loan_indexed: string, poutcome_indexed: string, label: string]

In [ ]:
!spark-shell --driver-class-path sqljdbc41.jar;spark-to-tableau-0.1.0.jar

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/content/drive/MyDrive/7153/spark-3.0.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/10/08 12:40:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/10/08 12:40:49 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
Spark context Web UI available at http://1397c3d31138:4041
Spark context available as 'sc' (master = local[*], app id = local-1665232850261).
Spark session available as 'spark'.
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.0.0
      /_/

Using Scala version 2.12.10 (OpenJDK 64-Bit Server VM, Java 11.0.16)
Type in expressions to have them evaluated.
Type :help for more information.

scala>

In [ ]:
val sqlContext = new org.apache.spark.sql.SQLContext(sc) import TableauDataFrame._
val jdbcSqlConnStr = "jdbc:sqlserver://IP:1433;databaseName=Dbname;user=UserName;password=Password;"
val jdbcDbTable = "dbo.TableName"

In [ ]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler

In [ ]:
#SELECTING CATEGORICAL COLUMNS ONLY
categoricalColumns = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'poutcome']

#CREATING AN EMPTY LIST FOR PIPELINE AND ASSEMBLER
stages = []

In [ ]:
#APPLYING FOR LOOP TO INDEX AND ENCODE ALL THE SELECTED COLUMNS
#APPLYING STRING INDEXER TO ALL THE CATEGORICAL COLUMNS AND STORING IT IN A NEW COLUMN WITH +INDEXED
#APPLYING ONE HOT ENCODER TO ALL THE INDEXED COLUMNS AND STORING IT IN A NEW COLUMN WITH +ENCODED

for categoricalCol in categoricalColumns:
    stringIndexer = StringIndexer(inputCol = categoricalCol, outputCol = categoricalCol + '_indexed')
    encoder = OneHotEncoder(inputCols=[stringIndexer.getOutputCol()], outputCols=[categoricalCol + "_encoded"])
    stages += [stringIndexer, encoder]

#INDEXING PREDICTOR COLUMN 'DEPOSIT' AS LABEL AND FEATURES
label_stringIdx = StringIndexer(inputCol = 'deposit', outputCol = 'label')

#CREATING STAGES FOR BOTH NUMERICAL AND CATEGORICAL COLUMNS
stages += [label_stringIdx]
numericCols = ['age', 'balance', 'campaign', 'pdays', 'previous']

#ADDING BOTH To ASSEMBLER
assemblerInputs = [c + "_encoded" for c in categoricalColumns] + numericCols

#VECTORIZING TO CREATE A NEW FEATURES COLUMN WITH INDEXED AND ENCODED VALUES
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
stages += [assembler]

In [ ]:
from pyspark.ml import Pipeline

In [ ]:
#COMBINING ALL THE STAGES INTO ONE, FITTING DF2 AND TRANSFORMING IT

pipeline = Pipeline(stages = stages)
pipelineModel = pipeline.fit(df2)
df2 = pipelineModel.transform(df2)

In [ ]:
#STORING IN NEW VARIABLE TO AVOID 'NONETYPE ERROR'
df3=df2

In [ ]:
df3.show(5)

+---+----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+-----------+--------------+---------------+---------------+-----------------+-----------------+---------------+---------------+---------------+---------------+------------+-------------+----------------+----------------+-----+--------------------+
|age|       job|marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|job_indexed|   job_encoded|marital_indexed|marital_encoded|education_indexed|education_encoded|default_indexed|default_encoded|housing_indexed|housing_encoded|loan_indexed| loan_encoded|poutcome_indexed|poutcome_encoded|label|            features|
+---+----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+-----------+--------------+---------------+---------------+-----------------+-----------------+---------------+---------------+---------------+---------------+------------+-------------+----------------+----------------+-----+--------------------+
| 33|  services|married|secondary|     no|   3444|    yes|  no|telephone| 21|  oct|     144|       1|   91|       4| failure|    yes|        5.0|(10,[5],[1.0])|            0.0|  (2,[0],[1.0])|              0.0|    (2,[0],[1.0])|            0.0|  (1,[0],[1.0])|            1.0|      (1,[],[])|         0.0|(1,[0],[1.0])|             0.0|   (1,[0],[1.0])|  0.0|(23,[5,10,12,14,1...|
| 56|technician|married|secondary|     no|    589|    yes|  no|  unknown| 23|  oct|     518|       1|  147|       2| success|    yes|        1.0|(10,[1],[1.0])|            0.0|  (2,[0],[1.0])|              0.0|    (2,[0],[1.0])|            0.0|  (1,[0],[1.0])|            1.0|      (1,[],[])|         0.0|(1,[0],[1.0])|             1.0|       (1,[],[])|  0.0|(23,[1,10,12,14,1...|
| 34|    admin.|married| tertiary|     no|    899|    yes|  no|  unknown| 12|  nov|     114|       1|  170|       3| failure|    yes|        2.0|(10,[2],[1.0])|            0.0|  (2,[0],[1.0])|              1.0|    (2,[1],[1.0])|            0.0|  (1,[0],[1.0])|            1.0|      (1,[],[])|         0.0|(1,[0],[1.0])|             0.0|   (1,[0],[1.0])|  0.0|(23,[2,10,13,14,1...|
| 53|   retired|married| tertiary|     no|   2269|     no|  no| cellular| 17|  nov|    1091|       2|  150|       1| success|    yes|        4.0|(10,[4],[1.0])|            0.0|  (2,[0],[1.0])|              1.0|    (2,[1],[1.0])|            0.0|  (1,[0],[1.0])|            0.0|  (1,[0],[1.0])|         0.0|(1,[0],[1.0])|             1.0|       (1,[],[])|  0.0|(23,[4,10,13,14,1...|
| 37|technician|married|secondary|     no|   5115|    yes|  no| cellular| 17|  nov|    1210|       2|  171|       4| failure|    yes|        1.0|(10,[1],[1.0])|            0.0|  (2,[0],[1.0])|              0.0|    (2,[0],[1.0])|            0.0|  (1,[0],[1.0])|            1.0|      (1,[],[])|         0.0|(1,[0],[1.0])|             0.0|   (1,[0],[1.0])|  0.0|(23,[1,10,12,14,1...|
+---+----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+-----------+--------------+---------------+---------------+-----------------+-----------------+---------------+---------------+---------------+---------------+------------+-------------+----------------+----------------+-----+--------------------+
only showing top 5 rows

In [ ]:
#Normalisation
#SELECTING ONLY THE ENCODED COLUMNS TO NORMALIZE
from pyspark.ml.feature import MinMaxScaler
norm_vars=['features','job_encoded','marital_encoded','loan_encoded','default_encoded','education_encoded','housing_encoded','poutcome_encoded']

#USING MIN-MAX SCALER FUNCTION TO SCLE IT DOWN BETWEEN 0 AND 1
scaler = [MinMaxScaler(inputCol=scale_features ,outputCol=scale_features+ "_SCALED") for scale_features in norm_vars]

#PIPELINING FOR ALL THE COLUMNS AND FITTING IT AGAIN TO DF2
pipeline = Pipeline(stages=scaler)
scalerModel =  pipeline.fit(df2)
scaledData = scalerModel.transform(df2)

In [ ]:
#DISPLAYING ALL THE NORMALIZED VALUES
scaledData.show(5)

+---+----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+-----------+--------------+---------------+---------------+-----------------+-----------------+---------------+---------------+---------------+---------------+------------+-------------+----------------+----------------+-----+--------------------+--------------------+------------------+----------------------+-------------------+----------------------+------------------------+----------------------+-----------------------+
|age|       job|marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|job_indexed|   job_encoded|marital_indexed|marital_encoded|education_indexed|education_encoded|default_indexed|default_encoded|housing_indexed|housing_encoded|loan_indexed| loan_encoded|poutcome_indexed|poutcome_encoded|label|            features|     features_SCALED|job_encoded_SCALED|marital_encoded_SCALED|loan_encoded_SCALED|default_encoded_SCALED|education_encoded_SCALED|housing_encoded_SCALED|poutcome_encoded_SCALED|
+---+----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+-----------+--------------+---------------+---------------+-----------------+-----------------+---------------+---------------+---------------+---------------+------------+-------------+----------------+----------------+-----+--------------------+--------------------+------------------+----------------------+-------------------+----------------------+------------------------+----------------------+-----------------------+
| 33|  services|married|secondary|     no|   3444|    yes|  no|telephone| 21|  oct|     144|       1|   91|       4| failure|    yes|        5.0|(10,[5],[1.0])|            0.0|  (2,[0],[1.0])|              0.0|    (2,[0],[1.0])|            0.0|  (1,[0],[1.0])|            1.0|      (1,[],[])|         0.0|(1,[0],[1.0])|             0.0|   (1,[0],[1.0])|  0.0|(23,[5,10,12,14,1...|(23,[5,10,12,14,1...|    (10,[5],[1.0])|             [1.0,0.0]|              [1.0]|                 [1.0]|               [1.0,0.0]|                 [0.0]|                  [1.0]|
| 56|technician|married|secondary|     no|    589|    yes|  no|  unknown| 23|  oct|     518|       1|  147|       2| success|    yes|        1.0|(10,[1],[1.0])|            0.0|  (2,[0],[1.0])|              0.0|    (2,[0],[1.0])|            0.0|  (1,[0],[1.0])|            1.0|      (1,[],[])|         0.0|(1,[0],[1.0])|             1.0|       (1,[],[])|  0.0|(23,[1,10,12,14,1...|(23,[1,10,12,14,1...|    (10,[1],[1.0])|             [1.0,0.0]|              [1.0]|                 [1.0]|               [1.0,0.0]|                 [0.0]|                  [0.0]|
| 34|    admin.|married| tertiary|     no|    899|    yes|  no|  unknown| 12|  nov|     114|       1|  170|       3| failure|    yes|        2.0|(10,[2],[1.0])|            0.0|  (2,[0],[1.0])|              1.0|    (2,[1],[1.0])|            0.0|  (1,[0],[1.0])|            1.0|      (1,[],[])|         0.0|(1,[0],[1.0])|             0.0|   (1,[0],[1.0])|  0.0|(23,[2,10,13,14,1...|(23,[2,10,13,14,1...|    (10,[2],[1.0])|             [1.0,0.0]|              [1.0]|                 [1.0]|               [0.0,1.0]|                 [0.0]|                  [1.0]|
| 53|   retired|married| tertiary|     no|   2269|     no|  no| cellular| 17|  nov|    1091|       2|  150|       1| success|    yes|        4.0|(10,[4],[1.0])|            0.0|  (2,[0],[1.0])|              1.0|    (2,[1],[1.0])|            0.0|  (1,[0],[1.0])|            0.0|  (1,[0],[1.0])|         0.0|(1,[0],[1.0])|             1.0|       (1,[],[])|  0.0|(23,[4,10,13,14,1...|(23,[4,10,13,14,1...|    (10,[4],[1.0])|             [1.0,0.0]|              [1.0]|                 [1.0]|               [0.0,1.0]|                 [1.0]|                  [0.0]|
| 37|technician|married|secondary|     no|   5115|    yes|  no| cellular| 17|  nov|    1210|       2|  171|       4| failure|    yes|        1.0|(10,[1],[1.0])|            0.0|  (2,[0],[1.0])|              0.0|    (2,[0],[1.0])|            0.0|  (1,[0],[1.0])|            1.0|      (1,[],[])|         0.0|(1,[0],[1.0])|             0.0|   (1,[0],[1.0])|  0.0|(23,[1,10,12,14,1...|(23,[1,10,12,14,1...|    (10,[1],[1.0])|             [1.0,0.0]|              [1.0]|                 [1.0]|               [1.0,0.0]|                 [0.0]|                  [1.0]|
+---+----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+-----------+--------------+---------------+---------------+-----------------+-----------------+---------------+---------------+---------------+---------------+------------+-------------+----------------+----------------+-----+--------------------+--------------------+------------------+----------------------+-------------------+----------------------+------------------------+----------------------+-----------------------+
only showing top 5 rows

In [ ]:
#SELECTING ONLY THE REQUIRED COLUMNS FOR FURTHER SUPERVISED AND UNSUPERVISED LEARNING

df4=scaledData.select('deposit','label','features','job_encoded_SCALED','marital_encoded_SCALED','loan_encoded_SCALED','default_encoded_SCALED','education_encoded_SCALED','housing_encoded_SCALED','poutcome_encoded_SCALED','features_SCALED')

In [ ]:
df4.show(5)

+-------+-----+--------------------+------------------+----------------------+-------------------+----------------------+------------------------+----------------------+-----------------------+--------------------+
|deposit|label|            features|job_encoded_SCALED|marital_encoded_SCALED|loan_encoded_SCALED|default_encoded_SCALED|education_encoded_SCALED|housing_encoded_SCALED|poutcome_encoded_SCALED|     features_SCALED|
+-------+-----+--------------------+------------------+----------------------+-------------------+----------------------+------------------------+----------------------+-----------------------+--------------------+
|    yes|  0.0|(23,[5,10,12,14,1...|    (10,[5],[1.0])|             [1.0,0.0]|              [1.0]|                 [1.0]|               [1.0,0.0]|                 [0.0]|                  [1.0]|(23,[5,10,12,14,1...|
|    yes|  0.0|(23,[1,10,12,14,1...|    (10,[1],[1.0])|             [1.0,0.0]|              [1.0]|                 [1.0]|               [1.0,0.0]|                 [0.0]|                  [0.0]|(23,[1,10,12,14,1...|
|    yes|  0.0|(23,[2,10,13,14,1...|    (10,[2],[1.0])|             [1.0,0.0]|              [1.0]|                 [1.0]|               [0.0,1.0]|                 [0.0]|                  [1.0]|(23,[2,10,13,14,1...|
|    yes|  0.0|(23,[4,10,13,14,1...|    (10,[4],[1.0])|             [1.0,0.0]|              [1.0]|                 [1.0]|               [0.0,1.0]|                 [1.0]|                  [0.0]|(23,[4,10,13,14,1...|
|    yes|  0.0|(23,[1,10,12,14,1...|    (10,[1],[1.0])|             [1.0,0.0]|              [1.0]|                 [1.0]|               [1.0,0.0]|                 [0.0]|                  [1.0]|(23,[1,10,12,14,1...|
+-------+-----+--------------------+------------------+----------------------+-------------------+----------------------+------------------------+----------------------+-----------------------+--------------------+
only showing top 5 rows

In [ ]:
df2.take(1)

[Row(age=33, job='services', marital='married', education='secondary', default='no', balance=3444, housing='yes', loan='no', contact='telephone', day=21, month='oct', duration=144, campaign=1, pdays=91, previous=4, poutcome='failure', deposit='yes', job_indexed=5.0, job_encoded=SparseVector(10, {5: 1.0}), marital_indexed=0.0, marital_encoded=SparseVector(2, {0: 1.0}), education_indexed=0.0, education_encoded=SparseVector(2, {0: 1.0}), default_indexed=0.0, default_encoded=SparseVector(1, {0: 1.0}), housing_indexed=1.0, housing_encoded=SparseVector(1, {}), loan_indexed=0.0, loan_encoded=SparseVector(1, {0: 1.0}), poutcome_indexed=0.0, poutcome_encoded=SparseVector(1, {0: 1.0}), label=0.0, features=SparseVector(23, {5: 1.0, 10: 1.0, 12: 1.0, 14: 1.0, 16: 1.0, 17: 1.0, 18: 33.0, 19: 3444.0, 20: 1.0, 21: 91.0, 22: 4.0}))]

KMeans Clustering-Unsupervised Learning

In [ ]:
# Perform unsupervised learning on df2 with k-means
# You can use whole df2 as both training and testing data,
# Evaluate the clustering result using Accuracy.
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator
%matplotlib inline

In [ ]:
from pyspark.ml import Pipeline

#PERFORMING KMEANS CLUSTERING ON DF2 DATA FRAME
#WHOLE DATA IS USED AS TRAINING AND TESTING DATA AS IT IS UNSUPERVISED
# Trains a k-means model.
kmeans = KMeans().setK(2).setSeed(742).setFeaturesCol("features")
model = kmeans.fit(df4)
# Make predictions
predictions = model.transform(df4)
predictions.select('label', 'prediction').show(10)

+-----+----------+
|label|prediction|
+-----+----------+
|  0.0|         0|
|  0.0|         0|
|  0.0|         0|
|  0.0|         0|
|  0.0|         0|
|  0.0|         0|
|  0.0|         0|
|  0.0|         0|
|  0.0|         0|
|  0.0|         0|
+-----+----------+
only showing top 10 rows

In [ ]:
#APPLYING KMEANS USING ELBOW METHOD TO GET THE OPTIMAL VALUE OF K TO HELP IN ANALYSIS IN REPORT
# Trains a k-means model.
kmeans3=KMeans(featuresCol="features",k=3)
kmeans2=KMeans(featuresCol="features",k=2)
model_k3 = kmeans3.fit(df4)
model_k2 = kmeans2.fit(df4)
#wssse_k3 = computeCost(df4)
#wssse_k2 = model_k2.computeCost(df4)
#evaluator = ClusteringEvaluator()
#split_vecs = df4.map(lambda x: (x[0], np.split(x[1], 2)))
#costs_per_split = [KMeansModel(model.Cs[i]).computeCost(split_vecs.map(lambda x: x[1][i])) for i in range(2)]
#wssse_k3 = model_k3.computeCost(df4)
print("With K=3")
print("Within Set Sum of Squared Errors = " + str(wssse_k3))
print('--'*30)

In [ ]:
silhouette = evaluator.evaluate(df4)
print("With K=3")
print("Within Set Sum of Squared Errors = " + str(wssse_k3))
print('--'*30)
print("With K=2")
print("Within Set Sum of Squared Errors = " + str(wssse_k2))

In [ ]:
#APPLYING FOR LOOP FOR REST OF THE VALUES OF K
for k in range(2,9):
    kmeans = KMeans(featuresCol='features_SCALED',k=k)
    model = kmeans.fit(df4)
    #cost = model.computeCost(dataset)
#print("Within Set Sum of Squared Errors = " + str(cost))
   # wssse = model.computeCost(df4)
    evaluator = ClusteringEvaluator()
    silhouette = evaluator.evaluate(predictions)
    #print("Silhouette with squared euclidean distance = " + str(silhouette))
    print("With K={}".format(k))
    print("Within Set Sum of Squared Errors = " + str(silhouette))
    print('--'*30)

Silhouette with squared euclidean distance = 0.9955086503489643
With K=2
Within Set Sum of Squared Errors = 0.9955086503489643
------------------------------------------------------------
Silhouette with squared euclidean distance = 0.9955086503489643
With K=3
Within Set Sum of Squared Errors = 0.9955086503489643
------------------------------------------------------------
Silhouette with squared euclidean distance = 0.9955086503489643
With K=4
Within Set Sum of Squared Errors = 0.9955086503489643
------------------------------------------------------------
Silhouette with squared euclidean distance = 0.9955086503489643
With K=5
Within Set Sum of Squared Errors = 0.9955086503489643
------------------------------------------------------------
Silhouette with squared euclidean distance = 0.9955086503489643
With K=6
Within Set Sum of Squared Errors = 0.9955086503489643
------------------------------------------------------------
Silhouette with squared euclidean distance = 0.9955086503489643
With K=7
Within Set Sum of Squared Errors = 0.9955086503489643
------------------------------------------------------------
Silhouette with squared euclidean distance = 0.9955086503489643
With K=8
Within Set Sum of Squared Errors = 0.9955086503489643
------------------------------------------------------------